.wrapper
    background-color: white
    height: calc(100vh - 4em)
    width: 30%
    overflow: auto

    .searchWrapper
        padding: 1em

        .search
            width: 100% !important

    .empty
        display: flex
        justify-content: center
        align-items: center
        height: calc(100vh - 4em - 5em)


.addWrapper
    position: absolute
    cursor: pointer
    left: 10px
    bottom: 10px
    width: 70px
    height: 70px
    border-radius: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: #95bddc
    font-size: 2em
    color: #fff
