.wrapper
    width: 100%
    font-weight: bold
    height: 6em
    border-top: 2px solid #e9eaf0
    box-sizing: border-box
    cursor: pointer
    position: relative
    display: flex
    padding:20px 20px

.header

.icon
    margin-right: 0.7em

.selected
    background-color: #e9eaf0

.message
    color: #bbb
    font-size: 0.9em
    font-weight: normal

.unread
    display: block
    position: absolute
    right: 1em
    bottom: 1em
    width: 2em
    height: 2em
    background-color: #ccc
    border-radius: 100%

.pictureStyle
    max-width: 60px
    min-width: 60px
    height : 60px
    min-height : 60px
    border-radius:50%
    margin: 5px 20px 5px 0px

